<nav class="nav sidebar pt-4" perfectScrollbar>
  <h6 class="d-flex align-items-center justify-content-between px-3 mb-4">
    <span class="text-uppercase small bold text-primary">Messages</span>
    <button class="btn btn-primary center-flex">
      <prx-icon icon="feather" size="sm"></prx-icon>
    </button>
  </h6>
  <ul class="nav flex-column">
    <li class="nav-item list-group-item-action active">
      <a href="#" class="nav-link center-flex">
        <prx-icon icon="inbox" size="sm" class="mr-3"></prx-icon>
        Inbox <span class="badge badge-pill badge-success ml-auto">5</span>
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link center-flex">
        <prx-icon icon="external-link" size="sm" class="mr-3"></prx-icon>
        Sent
        <span class="badge badge-pill badge-info ml-auto">5</span>
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link center-flex">
        <prx-icon icon="edit3" size="sm" class="mr-3"></prx-icon>
        Draft
        <span class="badge badge-pill badge-gray text-contrast ml-auto">8</span>
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link center-flex">
        <prx-icon icon="slash" size="sm" class="mr-3"></prx-icon>
        Spam
        <span class="badge badge-pill badge-warning text-contrast ml-auto"
          >7</span
        >
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link center-flex">
        <prx-icon icon="trash" size="sm" class="mr-3"></prx-icon>
        Deleted <span class="badge badge-pill badge-danger ml-auto">3</span>
      </a>
    </li>
  </ul>

  <h6 class="d-flex align-items-center justify-content-between px-3 mt-5 mb-4">
    <span class="text-uppercase small bold text-primary">Categories</span>
    <a href="javascript:;">
      <i class="fas fa-ellipsis-h"></i>
    </a>
  </h6>
  <ul class="nav flex-column">
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link">
        <prx-icon icon="folder" size="sm" class="mr-3"></prx-icon>
        Social
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link">
        <prx-icon icon="folder" size="sm" class="mr-3"></prx-icon> Work
      </a>
    </li>
    <li class="nav-item list-group-item-action">
      <a href="#" class="nav-link">
        <prx-icon icon="folder" size="sm" class="mr-3"></prx-icon> Friends
      </a>
    </li>
  </ul>
</nav>
