<div class="card">
    <div class="card-header">
        <h5>changer le mot de passe</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-12 col-xl-12">
                <app-alert *ngIf="message===1" class="mb-3" type="success">Mise a jour avec succées</app-alert>
                <app-alert *ngIf="message===2" class="mb-3" type="danger">le mise a jour a echoué</app-alert>
                <form (ngSubmit)="submit(form)" #form="ngForm">
                <div class="form-group">
                    <label for="password-current">Mot de passe actuel</label>
                    <input [class.is-invalid]=" (password.invalid && (password.dirty || password.touched))||error===1"  (keyup)="check()" 
                    autocomplete="new-password"  required pattern="(?=.*\d)(?=.*[a-z]).{5,}"  type="password" class="form-control" name="currentPassword"
                    #password="ngModel" [(ngModel)]="currentPassword">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                    <span *ngIf="password.errors.required" >Mot de passe actuel requis</span>
                     </div>
                     <div *ngIf="error===1" class="invalid-feedback">
                       Mot de passe actuel invalide
                     </div>
                </div>
                <div class="form-group">
                    <label for="password-new">Nouveau mot de passe</label>
                    <input id="password-new" [class.is-invalid]=" newPwd.invalid && (newPwd.dirty || newPwd.touched)" (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(0)" 
                    autocomplete="new-password"  required pattern="(?=.*\d)(?=.*[a-z]).{5,}"  type="password" class="form-control" name="newPassword"
                     #newPwd="ngModel" [(ngModel)]="newPassword">
                    <div *ngIf="newPwd.invalid && (newPwd.dirty || newPwd.touched)" class="invalid-feedback">
                       <span *ngIf="newPwd.errors.required" >Mot de passe requis</span>
                       <span *ngIf="newPwd.errors.pattern" >Mot de passe doit avoir 5 caractères avec au moins un chiffre et une lettre</span>
                   </div>
                </div>
                <div class="form-group">
                    <label for="password-confirm">Ré-entrez le nouveau mot de passe</label>
                    <input id="password-confirm" [class.is-invalid]="message === 3" (paste)="onPaste($event)" (copy)="onPaste($event)" (keyup)="checkPassword(1)" 
                    autocomplete="new-password"  required type="password" class="form-control" name="passwordConfirme"
                     #password2="ngModel" [(ngModel)]="passwordConfirme">
                     <div *ngIf="message === 3" class="invalid-feedback">
                       Les mots de passe saisis ne sont pas identiques.
                   </div> 
                </div>

                <div class="form-group mt-5 mb-0">
                    <button [class.disabled]="form.invalid||error===1||message===3" type="submit" class="btn btn-primary">Changer</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
