<div class="site-header">
     <app-header-topbar></app-header-topbar> 

    <div *ngIf="layout === 'classic'" class="site-header__middle container">
        <div class="site-header__logo">
            <a routerLink="/">
                SDAQS Interior Design
            </a>
        </div>
        <div class="site-header__search">
            <app-search location="header"></app-search>
        </div>
         <div class="site-header__phone">
            <div class="site-header__phone-title">Customer Service</div>
            <div class="site-header__phone-number">+216 72 309 405</div>
        </div> 
    </div>

    <div class="site-header__nav-panel">
        <app-header-nav
            [departments]="layout === 'classic'"
            [logo]="layout === 'compact'"
            [search]="layout === 'compact'"
            stickyMode="pullToShow"
        ></app-header-nav>
    </div>
</div>
