<div class="card">
    <div class="card-header">
        <h5 *ngIf="edit">Modifier Adresse</h5>
        <h5 *ngIf="!edit">Nouvelle Adresse</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-12 col-xl-12">
                <form (ngSubmit)="submit(form)" #form="ngForm">
                <div class="form-group">
                    <label for="form-email">Adresses*</label>
                    <input [class.is-invalid]=" addressI.invalid && (addressI.dirty || addressI.touched)" required #addressI="ngModel" type="text" id="form-address" class="form-control" name="addressI" [(ngModel)]="userAddress.address" >
                    <div *ngIf="addressI.invalid && (addressI.dirty || addressI.touched)" class="invalid-feedback">
                        <span *ngIf="addressI.errors.required" >Adresse requis</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="form-name">Ville*</label>
                        <input [class.is-invalid]=" city.invalid && (city.dirty || city.touched)"
                         required #city="ngModel" type="text" id="form-city" class="form-control" name="city" [(ngModel)]="userAddress.city">
                         <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
                            <span *ngIf="city.errors.required" >Ville requis</span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-email">Code Postal*</label>
                        <input [class.is-invalid]=" code.invalid && (code.dirty || code.touched)" required
                         #code="ngModel" type="text" id="form-postalCode" class="form-control" name="postalCode" [(ngModel)]="userAddress.postalCode" >
                         <div *ngIf="code.invalid && (code.dirty || code.touched)" class="invalid-feedback">
                            <span *ngIf="code.errors.required" >Code Postal requis</span>
                        </div>
                    </div>
                </div>

                <div class="form-group mt-3 mb-0">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
