@import "import";

$tgl-light-bg-color: #f0f0f0;
$tgl-height: 1.5rem !default;

.tgl {
  display: none;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;

    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    width: $tgl-height * 2;
    height: $tgl-height;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;

    &:after,
    &:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }

    &:after {
      left: 0;
    }

    &:before {
      display: none;
    }
  }

  &:checked + .tgl-btn:after {
    left: 50%;
  }
}

// themes
.tgl-light {
  + .tgl-btn {
    background: $tgl-light-bg-color;
    border-radius: $tgl-height;
    padding: 2px;
    transition: all 0.4s ease;

    &:after {
      border-radius: 50%;
      background: #fff;
      transition: all 0.2s ease;
    }
  }

  &:checked + .tgl-btn {
    background: #9fd6ae;
  }
}

.tgl-ios {
  + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
    border: 1px solid #e8eae9;

    &:after {
      border-radius: 2em;
      background: #fbfbfb;
      transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        padding 0.3s ease, margin 0.3s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    }

    &:hover:after {
      will-change: padding;
    }

    &:active {
      box-shadow: inset 0 0 0 2em #e8eae9;

      &:after {
        padding-right: 0.8em;
      }
    }
  }

  &:checked + .tgl-btn {
    background: #86d993;

    &:active {
      box-shadow: none;

      &:after {
        margin-left: -0.8em;
      }
    }
  }
}

:host {
  @each $i, $color in $theme-colors {
    &.tgl-#{$i} {
      .tgl:checked {
        + .tgl-btn {
          background: $color;
        }
      }
    }
  }
}
