<div class="site-footer__widget footer-contacts">

    <div class="footer-contacts__text" [innerHTML]="settings.description">
    </div>

     <ul class="footer-contacts__contacts">
        <li><i class="footer-contacts__icon fas fa-globe-americas"></i> 8090 Kelibia Nabeul - Tunisie
            Entrée Kelibia Nord </li>
        <li><i class="footer-contacts__icon far fa-envelope"></i>Service Commercial : sdaqs.contact@gmail.com</li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Tél: +216 00 00 00 00 / +216 00 00 00 00 </li>
        <li><i class="footer-contacts__icon fas fa-mobile-alt"></i> Fax: +216 72 30 94 05 </li>
    </ul> 
</div>
