@import "import";

.card {
  border: none;
  transition: background-color 0.3s ease;
  margin-bottom: 0;

  &:hover {
    background-color: $mz-header-app--card-hover-bg-color;
    //box-shadow: 0 0 1px 0 rgba($mz-header-app--card-hover-bg-color, 0.2);
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.app-name {
  margin-top: 0.5rem;
}

.dropdown-menu {
  min-width: $mz-header-app--card-min-width;
}
