<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                Mot de passe oublié
            </div>

            <div class="not-found__content">

                <p class="not-found__text">
                   Saisisez votre adresse mail.
                </p>
                <app-alert *ngIf="message===1" class="mb-3" type="success">Vérfier votre mail, pour récuperer votre nouvelle mot de passe</app-alert>
                <app-alert *ngIf="message===2" class="mb-3" type="danger">L'email que vous avez saisie n'admet pas de compte</app-alert>
                <form #form="ngForm" class="not-found__search">
                    
                    <input required  name="mail" [(ngModel)]="mail" type="mail" class="not-found__search-input form-control" placeholder="Email...">
                    <input [class.disabled]="form.invalid" (click)="submit(form)" type="submit" class="not-found__search-button btn btn-primary" value="Envoyer"/>
                </form>


            </div>
        </div>
    </div>
</div>
