<prx-page-header pre="Annonces" title="Liste Annonces" [sub]="totalCount">
  <ng-container page-tools>
    <ul class="nav">
      <li class="nav-item mr-2 d-none d-md-inline-flex">
        <input
          [(ngModel)]="filter"
          (keyup)="updateFilter()"
          type="text"
          class="form-control"
          placeholder="Recherche..."
        />
      </li>
    </ul>

    <input
      type="text"
      class="form-control d-md-none mt-2 mt-md-0"
      placeholder="Search ads..."
    />
  </ng-container>
</prx-page-header>
<div class="container-fluid">
  <prx-card>
    <prx-card-body>
      <ng-container *ngIf="allAds && allAds.length; else loading">
        <ngx-datatable
          class="table table-with-details"
          [rows]="ads"
          [messages]="{ emptyMessage: 'Aucun résultat disponible.' }"
          [columnMode]="ColumnMode.force"
          headerHeight="auto"
          [rowHeight]="false"
          footerHeight="auto"
          [limit]="10"
        >
          <!-- Row Detail Template -->
          <ngx-datatable-row-detail
            rowHeight="auto"
            (toggle)="onDetailToggle($event)"
          >
            <ng-template
              let-ad="row"
              let-expanded="expanded"
              ngx-datatable-row-detail-template
            >
              <div class="row">
                <div class="col-md-4">
                  <dl class="row bordered">
                    <dt class="col-md-5">Nom</dt>
                    <dd class="col-md-7">{{ ad.customer.name }}</dd>

                    <dt class="col-md-5">Email</dt>
                    <dd class="col-md-7">{{ ad.customer.mail }}</dd>

                    <dt class="col-md-5">Numéro de téléphone</dt>
                    <dd class="col-md-7">{{ ad.customer.phoneNumber }}</dd>
                  </dl>
                </div>
                <div class="col-md-8">
                  <h3>Description</h3>

                  <p>
                    {{ ad.description }}
                  </p>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-row-detail>

          <!-- Column Templates -->
          <!-- First column is arrow toggle -->
          <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
          >
            <ng-template
              let-ad="row"
              let-expanded="expanded"
              ngx-datatable-cell-template
            >
              <a
                href="javascript:void(0)"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Expand/Collapse Row"
                (click)="toggleExpandRow(ad)"
              >
              </a>
            </ng-template>
          </ngx-datatable-column>
          <!-- Column Definitions -->
          <ngx-datatable-column name="Titre">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Titre</small>
              {{ ad.title }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Client">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Client</small>
              {{ ad.customer.name }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Prix">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Prix</small>
              {{ ad.price }} TND
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Categorie">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Categorie</small>
              {{ getCategory(ad).category }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="SousCategorie">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">SousCategorie</small>
              {{ getCategory(ad).subCategory }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Famille">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Famille</small>
              {{ getCategory(ad).family }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Date de creation">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none"
                >Date de creation"</small
              >
              {{ ad.creationDate | date }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Statut">
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <small class="text-muted d-block d-md-none">Statut</small>
              <span *ngIf="ad.status === '1'" class="text-capitalize text-info">
                <prx-icon [icon]="icons.dot" size="sm"></prx-icon>
                En Attente
              </span>
              <span
                *ngIf="ad.status === '2'"
                class="text-capitalize text-success"
              >
                <prx-icon [icon]="icons.dot" size="sm"></prx-icon>
                Approuvée
              </span>
              <span
                *ngIf="ad.status === '3'"
                class="text-capitalize text-danger"
              >
                <prx-icon [icon]="icons.dot" size="sm"></prx-icon>
                Refusée
              </span>
            </ng-template>
          </ngx-datatable-column>

          <!-- Actions Column -->
          <ngx-datatable-column
            [width]="80"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            cellClass="d-none d-md-flex"
          >
            <ng-template
              let-ad="row"
              let-value="value"
              ngx-datatable-cell-template
            >
              <div class="d-flex justify-content-end">
                <prx-context-menu appendToBody="true">
                  <a
                    *ngIf="ad.status === '1'"
                    (click)="update(ad, '2')"
                    class="dropdown-item"
                    href="javascript:;"
                  >
                    <span class="d-inline-block w-20px"
                      ><prx-icon [icon]="icons.ok"></prx-icon
                    ></span>
                    Accepter
                  </a>
                  <a
                    *ngIf="ad.status === '1'"
                    (click)="update(ad, '3')"
                    class="dropdown-item"
                    href="javascript:;"
                  >
                    <span class="d-inline-block w-20px"
                      ><prx-icon [icon]="icons.no"></prx-icon
                    ></span>
                    Refuser
                  </a>
                  <div class="divider dropdown-divider"></div>
                  <a
                    (click)="delete(ad)"
                    class="dropdown-item text-danger"
                    href="javascript:;"
                  >
                    <span class="d-inline-block w-20px"
                      ><prx-icon [icon]="icons.delete"></prx-icon
                    ></span>
                    Supprimer
                  </a>
                </prx-context-menu>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </ng-container>

      <ng-template #loading>
        <prx-loader
          [template]="'table'"
          [isLoading]="isLoading"
          [count]="3"
        ></prx-loader>
      </ng-template>
    </prx-card-body>
  </prx-card>
</div>
