<prx-page-header title="Nouvelle Categorie" sub=""></prx-page-header>

<div class="container-fluid">
  <prx-card>
    <prx-card-body class="pb-6 p-md-5">
      <prx-alert
        [hidden]="!error"
        [scheme]="ColorScheme.Danger"
        [withIcon]="true"
        [dismissible]="true"
      >
        L'ajout a échoué
      </prx-alert>
      <form class="cozy" #form="ngForm">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-group mb-4">Information</h4>

            <div class="form-group">
              <label class="control-label">Nom*</label>
              <input
                [class.is-invalid]="
                  title.invalid && (title.dirty || title.touched)
                "
                class="form-control"
                type="text"
                name="title"
                #title="ngModel"
                [(ngModel)]="category.title"
                required
              />
              <small
                *ngIf="title.invalid && (title.dirty || title.touched)"
                class="form-text text-danger"
                >Nom requis</small
              >
            </div>
            <div class="form-group">
              <label class="control-label">Actif</label>
              <ng-select
                [items]="table"
                bindLabel="name"
                bindValue="id"
                [searchable]="false"
                [clearable]="false"
                placeholder=""
                [(ngModel)]="category.active"
                name="active"
              >
              </ng-select>
            </div>
            <div class="form-group">
              <label class="control-label">Sous Categorie</label>
              <input
                type="text"
                class="form-control"
                name="subCategory"
                #subCategoryI="ngModel"
                [(ngModel)]="subCategory"
                (keydown.enter)="addSubCategory()"
              />
              <small class="form-text text-info"
                >Saisir le nom de la sous categories et valider en cliquant sur
                "Entrer"</small
              >
            </div>
            <div class="form-group form-row">
              <div class="col-md-6">
                <label class="control-label">Sous Categorie</label>
                <ng-select
                  [items]="category.subCategories"
                  bindLabel="title"
                  [searchable]="true"
                  [clearable]="false"
                  placeholder=""
                  [(ngModel)]="adsubCategory"
                  name="adsubCategory"
                >
                </ng-select>
              </div>
              <div class="col-md-6">
                <label class="control-label">Famille</label>
                <input
                  type="text"
                  class="form-control"
                  name="family"
                  #familyI="ngModel"
                  [(ngModel)]="family"
                  (keydown.enter)="addFamily()"
                />
                <small class="form-text text-info"
                  >Apres le choix d'une sous categorie, Saisir le nom de la
                  famille et valider en cliquant sur "Entrer"</small
                >
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <h4 class="text-group mb-4">Sous Categories</h4>
            <ng-container
              *ngIf="category.subCategories && category.subCategories.length"
            >
              <ngx-datatable
                class="ngx-datatable responsive {{ tableStyles }}"
                [rows]="category.subCategories"
                [messages]="{ emptyMessage: 'Aucun résultat disponible.' }"
                [columnMode]="ColumnMode.force"
                headerHeight="auto"
                [rowHeight]="false"
                footerHeight="auto"
                [limit]="4"
              >
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail
                  style="    background-color: aliceblue;"
                  rowHeight="auto"
                  (toggle)="onDetailToggle($event)"
                >
                  <ng-template
                    let-subCategory="row"
                    let-expanded="expanded"
                    ngx-datatable-row-detail-template
                  >
                    <div
                      class="col-md-6 mx-auto"
                      style="background-color: aliceblue;"
                    >
                      <h5>Liste des familles</h5>
                      <ng-container
                        *ngIf="
                          subCategory.families && subCategory.families.length
                        "
                      >
                        <ngx-datatable
                          class="ngx-datatable responsive {{ tableStyles }}"
                          [headerHeight]="0"
                          [footerHeight]="0"
                          [rows]="subCategory.families"
                          [messages]="{
                            emptyMessage: 'Aucun résultat disponible.'
                          }"
                          [columnMode]="ColumnMode.force"
                          headerHeight="auto"
                          [rowHeight]="false"
                          footerHeight="auto"
                          [limit]="3"
                        >
                          <!-- Column Definitions -->
                          <ngx-datatable-column name="Nom">
                            <ng-template
                              let-family="row"
                              let-value="value"
                              ngx-datatable-cell-template
                            >
                              <small class="text-muted d-block d-md-none"
                                >Nom</small
                              >
                              <input
                                class="form-control"
                                type="text"
                                [name]="family.title"
                                [(ngModel)]="family.title"
                                required
                              />
                            </ng-template>
                          </ngx-datatable-column>
                          <ngx-datatable-column name="Actif">
                            <ng-template
                              let-family="row"
                              let-value="value"
                              ngx-datatable-cell-template
                            >
                              <small class="text-muted d-block d-md-none"
                                >Actif</small
                              >
                              <span
                                *ngIf="family.active"
                                class="text-capitalize text-success"
                              >
                                <prx-icon
                                  [icon]="icons.dot"
                                  size="sm"
                                ></prx-icon>
                                Actif
                              </span>
                              <span
                                *ngIf="!family.active"
                                class="text-capitalize text-danger"
                              >
                                <prx-icon
                                  [icon]="icons.dot"
                                  size="sm"
                                ></prx-icon>
                                Non Actif
                              </span>
                            </ng-template>
                          </ngx-datatable-column>

                          <!-- Actions Column -->
                          <ngx-datatable-column
                            [width]="80"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            cellClass="d-none d-md-flex"
                          >
                            <ng-template
                              let-family="row"
                              let-value="value"
                              ngx-datatable-cell-template
                            >
                              <div class="d-flex justify-content-end">
                                <prx-context-menu appendToBody="true">
                                  <a
                                    *ngIf="!family.active"
                                    (click)="
                                      updateFamily(subCategory, family, true)
                                    "
                                    class="dropdown-item"
                                    href="javascript:;"
                                  >
                                    <span class="d-inline-block w-20px"
                                      ><prx-icon [icon]="icons.edit"></prx-icon
                                    ></span>
                                    Activer
                                  </a>
                                  <a
                                    *ngIf="family.active"
                                    (click)="
                                      updateFamily(subCategory, family, false)
                                    "
                                    class="dropdown-item"
                                    href="javascript:;"
                                  >
                                    <span class="d-inline-block w-20px"
                                      ><prx-icon [icon]="icons.edit"></prx-icon
                                    ></span>
                                    Desactiver
                                  </a>
                                  <div class="divider dropdown-divider"></div>
                                  <a
                                    (click)="deleteFamily(subCategory, family)"
                                    class="dropdown-item text-danger"
                                    href="javascript:;"
                                  >
                                    <span class="d-inline-block w-20px"
                                      ><prx-icon
                                        [icon]="icons.delete"
                                      ></prx-icon
                                    ></span>
                                    Supprimer
                                  </a>
                                </prx-context-menu>
                              </div>
                            </ng-template>
                          </ngx-datatable-column>
                        </ngx-datatable>
                      </ng-container>
                    </div>
                  </ng-template>
                </ngx-datatable-row-detail>

                <!-- Column Templates -->
                <!-- First column is arrow toggle -->
                <ngx-datatable-column
                  [width]="50"
                  [resizeable]="false"
                  [sortable]="false"
                  [draggable]="false"
                  [canAutoResize]="false"
                >
                  <ng-template
                    let-subCategory="row"
                    let-expanded="expanded"
                    ngx-datatable-cell-template
                  >
                    <a
                      href="javascript:void(0)"
                      [class.datatable-icon-right]="!expanded"
                      [class.datatable-icon-down]="expanded"
                      title="Expand/Collapse Row"
                      (click)="toggleExpandRow(subCategory)"
                    >
                    </a>
                  </ng-template>
                </ngx-datatable-column>
                <!-- Column Definitions -->
                <ngx-datatable-column name="Nom">
                  <ng-template
                    let-subCategory="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <small class="text-muted d-block d-md-none">Nom</small>
                    <input
                      class="form-control"
                      type="text"
                      [name]="subCategory.title"
                      [(ngModel)]="subCategory.title"
                      required
                    />
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actif">
                  <ng-template
                    let-subCategory="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <small class="text-muted d-block d-md-none">Actif</small>
                    <span
                      *ngIf="subCategory.active"
                      class="text-capitalize text-success"
                    >
                      <prx-icon [icon]="icons.dot" size="sm"></prx-icon>
                      Actif
                    </span>
                    <span
                      *ngIf="!subCategory.active"
                      class="text-capitalize text-danger"
                    >
                      <prx-icon [icon]="icons.dot" size="sm"></prx-icon>
                      Non Actif
                    </span>
                  </ng-template>
                </ngx-datatable-column>

                <!-- Actions Column -->
                <ngx-datatable-column
                  [width]="80"
                  [sortable]="false"
                  [canAutoResize]="false"
                  [draggable]="false"
                  [resizeable]="false"
                  cellClass="d-none d-md-flex"
                >
                  <ng-template
                    let-subCategory="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <div class="d-flex justify-content-end">
                      <prx-context-menu appendToBody="true">
                        <a
                          *ngIf="!subCategory.active"
                          (click)="update(subCategory, true)"
                          class="dropdown-item"
                          href="javascript:;"
                        >
                          <span class="d-inline-block w-20px"
                            ><prx-icon [icon]="icons.edit"></prx-icon
                          ></span>
                          Activer
                        </a>
                        <a
                          *ngIf="subCategory.active"
                          (click)="update(subCategory, false)"
                          class="dropdown-item"
                          href="javascript:;"
                        >
                          <span class="d-inline-block w-20px"
                            ><prx-icon [icon]="icons.edit"></prx-icon
                          ></span>
                          Desactiver
                        </a>
                        <div class="divider dropdown-divider"></div>
                        <a
                          (click)="delete(subCategory)"
                          class="dropdown-item text-danger"
                          href="javascript:;"
                        >
                          <span class="d-inline-block w-20px"
                            ><prx-icon [icon]="icons.delete"></prx-icon
                          ></span>
                          Supprimer
                        </a>
                      </prx-context-menu>
                    </div>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </ng-container>
          </div>
        </div>
        <hr class="my-4" />
        <div class="form-group text-right">
          <prx-button
            type="button"
            color="primary"
            [icon]="longArrowAltRight"
            [isLoading]="isLoading"
            [disabled]="form.invalid"
            (click)="submit(form)"
          >
            <span translate>Enregistrer</span>
          </prx-button>
        </div>
      </form>
    </prx-card-body>
  </prx-card>
</div>
